<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SQLite_Connection/src/imran/sqlite/connection/SQLite_Connection_TryCatch.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="imran.sqlite.connection.SQLite_Connection_TryCatch"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SQLite_Connection"/>
</launchConfiguration>
